<div class="position-conatant">
    <div>
        <div class="position-header"> 
            <div>To do</div>
            <div><img src="../../../../assets/img/plus-button.png" alt=""></div>
        </div>
        <div>test</div>
    </div>
    <div>
        <div class="position-header"> 
            <div>In progress</div>
            <div><img src="../../../../assets/img/plus-button.png" alt=""></div>
        </div>
    </div>
    <div>
        <div class="position-header"> 
            <div>Awaiting feedback</div>
            <div><img src="../../../../assets/img/plus-button.png" alt=""></div>
        </div>
    </div>
    <div>
        <div class="position-header"> 
            <div>Done</div>
            <div><img src="../../../../assets/img/plus-button.png" alt=""></div>
        </div>
    </div>
</div>
