<div class="background">
    <div class="card">
        <div> <h2>Log in</h2></div>
        <div class="login-input">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Password">
        </div>
        <div class="remember"> <input type="checkbox"> <span>Remember me</span></div>
        <div class="btn">
            <button class="btn-login">Log in</button>
            <a href="GuestLogin"> <button class="btn-guest">  Guest Log in</button></a>
        </div>
    </div>
</div>