


    <div class="card" *ngIf="allCards.length >=1 ">
        <div class="category">{{card['category']}}</div>
        <div class="headliner">{{card['headliner']}}</div>
        <div class="text">{{card['text']}}</div>
        <div>Subtasks:{{card['subtasks'].length}}</div>
        <div class="card-bottom">
            <div>{{card['assignedTo'].length}}</div>
            <div>
                <img *ngIf="card['priority']== 'low' " src="../../../../../assets/img/low2.png" alt="">
                <img *ngIf="card['priority']== 'mid' " src="../../../../../assets/img/mid2.png" alt="">
                <img *ngIf="card['priority']== 'Urgent' " src="../../../../../assets/img/urgent2.png" alt="">
            </div>
        </div>
    </div>


