.card{
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
    box-sizing: border-box;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category{
    color: white;
    background: #1FD7C1;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    width: fit-content;
    font-size: 16px;
}

.headliner{
    font-size: 16px;
    font-weight: 700;
}

.text{
    color: #a8a8a8;
}