.card{
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
    box-sizing: border-box;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}